body{
    margin: 0;
    
}

.container{

    display: flex;
    flex-direction: column;
    background: rgb(255, 255, 255); 
    height: 100%;
    width: 100%;
    margin: auto;
}

.top{
    display:block;
    border-bottom-right-radius: 40px;
    background-color: aquamarine;
    padding: 15px;
    box-shadow: 0px 3px 6px rgba(0,0,0,0.35);
}

.sec_user{
    display:inline-flex;
   
}

.btn_icon{
    border-radius: 100%;
    padding: 10px;

}

.msg_user{
    padding-left: 15px;
}
  
.acoes {
  display: flex;
  gap: 42px;
  padding: 15px;
  padding-top: 30px;

}

.btn_acoes {
  width: 70px;
  text-decoration: none;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 6px;
  background-color: cyan;
  border-radius: 8px;
}
.img_acoes  {

  background: #b2dbe5;
  padding: 3px;
  position: relative;
  top: 11px;
}

.txt_acoes {
  font-size: 12px;
  color: #0ea5b7;
  position:relative;
  display:flex;
  bottom: 62px;
}